@model IQueryable<string>


<div>
    <img src="~/Content/Images/BMW1.jpg" />
</div>
<div>
    <ol>
        @foreach (var item in Model)
    {
            <li>
                <img src="~/Content/Images/@item"/></li>
    }

    </ol>
</div>
